webService/wsdl/WSListenator.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
             name="IWSPlayerservice" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:WSPlayerIntf">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:WSPlayerIntf">
            <complexType name="RequestType">
                <sequence>
                    <element name="nomChanson" type="xs:string"/>
                </sequence>
            </complexType>
            <complexType name="ResponseType">
                <sequence>
                    <element name="url" type="xs:string"/>
                </sequence>
            </complexType>
        </schema>
    </types>
    <message name="jouerChanson0Request">
        <part name="Request" type="ns1:RequestType"/>
    </message>
    <message name="jouerChanson0Response">
        <part name="return" type="ns1:ResponseType"/>
    </message>
    <portType name="IWSPlayer">
        <operation name="jouerChanson">
            <input message="tns:jouerChanson0Request"/>
            <output message="tns:jouerChanson0Response"/>
        </operation>
    </portType>
    <binding name="IWSPlayerbinding" type="tns:IWSPlayer">
        <binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc"
                 transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="jouerChanson">
            <operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/"
                       soapAction="urn:WSPlayerIntf-IWSPlayer#jouerChanson" style="rpc"/>
            <input>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSPlayerIntf-IWSPlayer"/>
            </input>
            <output>
                <body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded"
                      encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:WSPlayerIntf-IWSPlayer"/>
            </output>
        </operation>
    </binding>
    <service name="IWSPlayerservice">
        <port name="IWSPlayerPort" binding="tns:IWSPlayerbinding">
            <address xmlns="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost:8080/soap/IWSPlayer"/>
        </port>
    </service>
</definitions>

